@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;

}


*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin container {
    width: 1170px;
    margin: 0 auto;
}

@mixin d-flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}



@mixin upbold {
    font-weight: bold;
    text-transform: uppercase;
}

@mixin button {
    padding: 17px 40px;
    line-height: 21px;
    font-size: 18px;
    width: 20%;
}